.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-field label {
  font-weight: bold;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
